/*---http://www.bootstrapdash.com/demo/star-admin-free/jquery/src/demo_1/index.html----*/
/*---https://codepen.io/nikkipantony/pen/NQyEgK--*/
/*---https://codepen.io/diloretodg/pen/vYByWVK--*/

body{
	margin:0px;
}
img{
	max-width: 100%;
}
ul, li{
	padding: 0px;
	list-style: none;
}
a:hover{
	text-decoration: none;
}
/*---------------------
  offset
--------------------*/
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.p-0{
  padding: 0px; 
}
.pl-0{
  padding-left: 0px;
}
.pr-0{
  padding-right: 0px;
}
.border-top{
  border-top:1px solid #ddd;
      border-top-width: 1px !important;
}
.border-bottom{
  border-bottom:1px solid #ddd;
}
.mt-1{
  margin-top: 10px;
}
.mb-1{
  margin-bottom: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}
.mr-1{
  margin-right: 10px;
}
.btn-danger{
  border-radius: 2px;
}
.justifi-content-center{
  justify-content: center;
}
.p-10{
  padding: 10px;
}
/*--------------------------
	Header Section
---------------------------*/
body {
    background-color: #eef1f4;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 100px;
}
#sidebar-wrapper {
    /*position: fixed;
    left: 250px;
    bottom: 50px;
    z-index: 1000;
    overflow: auto;
    margin-left: -250px;
    width: 0;
    padding-top: 0px;
    height: calc(100% - 12.5rem);
    background-color: #222d32;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 0;*/
    position: fixed;
    left: 250px;
    top: 0;
    bottom: 0px;
    z-index: 9;
    margin-left: -250px;
    width: 0;
    /*padding-top: 70px;*/
    height: calc(100% - 85px);
    background-color: #4c5968;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 0;
    margin-top: 50px;
    overflow: auto;

}
.toggled #sidebar-wrapper {
    max-width: 100px;
    overflow: visible;
}

#page-content-wrapper {
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    /*position: absolute;*/
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
        /*margin-top: 75px;*/
        padding-bottom: 60px;
    }

    /*#wrapper.toggled {
        padding-left: 0;
    }*/

    #sidebar-wrapper {
        width: 250px;
    }

    /*#wrapper.toggled #sidebar-wrapper {
        width: 0;
    }*/
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.navbar{
  background-color: #fff;
  padding: 0px 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  z-index: 9999;
  box-shadow: 0px -2px 4px #000;
}
.content_row{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo-admin h1{
  margin: 0px;
  display: flex;
}
.logo-admin .navbar-brand-logo{
  float: left;
  width: 250px;
  background-color: #262d37;
  font-size: 18px;
  min-height: 50px;
  text-align: center;
  padding: 12px 32px;
  display: inline-block;
  color: #fff;
}
.logo-admin .logosmall{
  max-width: 100px;
  font-size: 30px;
    padding: 4px;
}
.logo-admin {
    display: flex;
    align-items: center;
}
.navbar-inverse .navbar-brand{
  color: #333;
  margin-left: 0px !important;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
  color: #777;
  outline: none;
}
/*.navbar-brand-logo img {
    width: 35px;
}*/
a.navbar-brand {
  font-size: 20px;
  height: auto;
}
.icon-display {
    color: #fff;
    font-size: 22px;
}
.right-menu{
  margin: 0px;
  float: right;
}
.right-menu li.menu-h{
  display: inline-block;
}
.right-menu li.menu-h a{
  color: #333;
}
.right-menu .with-admin a{
      padding: 6px 15px;
}
.right-menu li button {
    background-color: transparent;
    color: #333;
    font-size: 26px;
    border: none;
}
.right-menu li button:focus, .right-menu li button:hover, .right-menu li button:focus:active{
  box-shadow: none;
  color: #777;
  outline: none;
}
.right-menu li .dropdown-menu {
    right: 0;
    left: auto !important;
}
.right-menu li.menu-h .dropdown-menu a{
  color: #000;
}
/*------------------------------------
    Sidebar Mneu
-------------------------------------*/
/* Fixed sidenav, full height */
/* Style the sidenav links and the dropdown button */
.sidenav {
    /*padding-bottom: 50px;*/
}
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
/* Add an active class to the active dropdown button */
.left-side-navbar li .active {
    background-color: #2c3b41;
    color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #2c3b41;
}
.navbar-collapse button.dropdown-btn.active {
    background-color: #273439;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}
}
.left-side-navbar li a, .left-side-navbar li button {
    font-size: 14px;
}
.left-side-navbar>li>a {
    padding: 15px;
}
.left-side-navbar li button::after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    font-size: 20px;
    transform: rotate(90deg);
    transition: all .5s;
}
.left-side-navbar li button.active::after {
    transform: rotate(0deg);
}
.left-side-navbar li .fa {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.left-side-navbar li {
    padding: 0px 0px;
    border-top: 1px solid #8282821f;
}
/*----------------------------------------
		footer
-----------------------------------------*/
footer {
    background-color: #eaeaea;
    padding: 5px 0px;
}
.footer_page{
	margin: 0px;
}
.footer_page li {
    display: inline-block;
}
.footer_page li a {
    color: #636262;
    border-right: 1px solid #636262;
    padding: 0px 10px;
}
.footer_page li:last-child a{
	border-right: none;
}
.footer p{
	margin: 0px;
}
/*----------------------------------------
		login
-----------------------------------------*/	
.login-page {
    margin-top: 60px;
}
.use_time {
    background-color: #eaeaea;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.remembr span input {
    margin-right: 5px;
}
.btn-login {
    width: 100%;
    float: left;
    margin: 10px 5px;
}
.btn-login button {
    background-color: #212020;
    color: #fff;
    padding: 5px 20px;
}
/******************************/
.dashboarpage {
    padding: 20px 0px;
}
.comn-h {
    border: 1px solid #797979;
    text-align: center;
    color: #4274af;
    margin-bottom: 25px;
}
.comn-h span {
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 80px;
    background-color: #f7fafc;
}
.comn-h span .fa{
	vertical-align: middle;
}
.comn-h h3 {
    font-size: 18px;
    background-color: #dee9ff;
    margin: 0px;
    padding: 5px 0px;
    font-weight: normal;
}
/*-----------------------
	Add Employee
-----------------------*/
.page-margin{
    padding-top: 30px;
}
form.add_employee-frm {
    padding-bottom: 50px;
}
.empl-add h3 {
    color: #1976d2;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
}

/*.emloy-hd h4 {
    color: #1976d2;
    background-color: #e2eff9;
    padding: 8px 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
}
.emloy-hd h4 span{
	color: #666;
	font-size: 11px;
	padding-top: 3px;
}*/
.emloy-hd p {
    font-size: 11px;
}
.add_employee-frm label {
    font-size: 14px;
    font-weight: normal;
}
.add_employee-frm select {
    font-size: 14px;
    font-weight: normal;
    color: #555;
    height: 34px;
    border-radius: 1px;
}
.add_employee-frm input{
	font-size: 14px;
  border-radius: 1px;
}
.add_employee-frm textarea{
  font-size: 14px;
  border-radius: 1px;
  height: 100px;
}
/*.employee-form span {
    font-size: 14px;
    margin-left: 5px;
}*/
.save-btn {
    background-color: #4099de;
    color: #fff;
    padding: 4px 14px;
    border-radius: 5px;
}
.cancel-btn{
  background-color: #40576e;
  color: #fff;
  border-radius: 1px;
  padding: 3px 10px;
}
.save-btn:hover, .cancel-btn:hover{
  color: #fff;
}
.btn.save-btn:focus {
  color: #fff;
  outline: none;
}
.empl-add table tr th, .empl-add table tr td {
    font-size: 14px;
}
span.veiw_m {
    cursor: pointer;
}
.empl-add .form-group {
  clear: both;
}
.empl-add .form-group::after {
    content: "";
    clear: both;
    display: table;
}
a.resume-attach {
  display: block;   
  width: 100%;    
  font-size: 14px;    
  padding-top: 5px; 
  padding-left: 0px;
  font-weight: bold;
  color: #565656;
}

a.remove_field {    
    display: block;
    font-size: 14px;    
    padding-top: 5px;    
    padding-left: 0px;    
    font-weight: bold;    
    color: #565656;    
    margin-left: 0px !important;
  }
  .input-marg{
    margin-bottom: 15px;
  }
.srch_payee {
    background-color: #fff;
    box-shadow: 0px 0px 8px #d0d0d0;
    padding: 0px 15px;
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}
.head_src_pyee h3 {
    text-align: center;
    font-weight: 600;
}
.src-new-btn{
  text-align: center;
}
.src-new-btn button {
    padding: 3px 10px;
    margin: 0px 5px;
}
.invalid-feedback{
  color: red;
}
/*--------------Change 09-005-2019----------------*/
.flex-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.first {
    flex: 1;
}
.second {
  margin-left: 5px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  width: 40px;
  text-align: right;
}
.sugest-bx{
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
}
.sug-sub-bx li {
    padding: 5px 5px;
}
.sug-sub-bx li:hover {
    color: #fff;
    background-color: #3584f7cc;
}


.left-side-navbar>li>button {
    padding: 15px;
}
.left-side-navbar .navbar-collapse {
    background-color: #222d3285;
}
.left-side-navbar .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-collapse>li>.dropdown-btn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-tabs>li>a{
  color: #333;
  border: 1px solid #ddd;
  border-bottom-color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 4px 15px;
  padding-right: 30px;
}
/*.navbar-collapse>li> .dropdown-container ul li {
    padding-left: 20px;
    padding-right: 15px;
    border-top: 1px solid #8282821f;
}*/
.navbar-collapse>li>.dropdown-container>ul>li {
    padding: 4px 20px;
    border-top: 1px solid #8282821f;
}
.nav-tabs>li>a:hover {
    border-color: #eee;
}
/*.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
    color: #777;
}*/
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color: #777;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #4099de;
    color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: transparent;
  color: #777;
}
.close-tab {
    position: absolute;
    top: 0;
    right: 10px;
    display: inline-block;
    text-align: center;
    color: #777;
    cursor: pointer;
    line-height: 30px;
}
.nav-tabs>li.active .close-tab {
    color: #fff;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;  
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 10px;
}
.card-header {
    padding: 15px 15px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.02);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}
.header-elements-inline .header-elements {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-left: 0;
    margin-right: 0;
}
.page-title h3 {
    margin: 0px;
    font-size: 18px;
}
.row-col {
    margin: 20px 0px 0px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.link-src {
    display: inline-block;
}
.dataTables_filter label input {
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 30px;
}
.dataTables_wrapper>.dt-buttons {
    float: right;
    padding: 15px 10px;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
    padding: 15px 10px;

}
.dataTables_wrapper .dt-buttons button {
    background-color: #4099de;
    background-image: none;
    color: #fff;
    border: none;
    padding: 4px 14px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 0px;
}
.dataTables_wrapper .dt-buttons button:hover{
    background-color: #4099de !important;
    background-image: none !important;
    color: #fff;
    border: none !important;
    opacity: .9;
}
table.dataTable{
  border-collapse: collapse !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    vertical-align: middle;
    color: #333;
    font-size: 13px;
    padding: 2px 10px;
}
table.dataTable thead th, table.dataTable thead td{
  border-bottom-color: #ddd !important;
  font-weight: 500;
  color: #555;
  padding: 10px 10px;
}
table.dataTable tfoot tr {
    background-color: #f5f7fb;
}
table.dataTable tfoot tr th {
    color: #555;
    font-weight: 500 !important;
    border-top: 1px solid #ddd;
}

.btn-blue-dark{
  background-color: #2574a9;
}
.content {
    padding-top: 60px;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button {
    color: #333;
    padding: 0;
    width: 26px;
    height: 26px;
    text-align: center;
    display: inline-block;
    line-height: 26px;
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: #4099de !important;
    color: #fff !important;
    border-color: #4099de;
}
.dataTables_paginate.paging_simple_numbers {
    margin: 15px 10px;
}
.dataTables_wrapper .dataTables_filter input:focus {
    outline: none;
}
.form-flex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-group .control-label {
    font-size: 14px;
    font-weight: 500;
}
.form-group .form-control {
  padding: 7px 14px;
  border-color: #ddd;
  border-radius: .1875rem;
  box-shadow: 0 0 0 0 transparent;
}
.check-f span input{
  margin-right: 5px;
}
.req-field{
  text-align: right;
  color: #F44336;
  margin-bottom: 20px;
  display: block;
  font-size: 15px;
}
.flex-2 {
    flex: 1;
}
.col-flex {
    margin: 0px 5px;
}
.down-filtr{
  border-top: 1px solid #ddd;
padding-top: 20px;
margin: 30px 0px;
}

.flex-baseline{
  align-items: baseline;
}
.src-modal{
    max-width: 600px;
    margin: auto;
}
.head-save .icon-close {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0px;
}
.model-d{
  display: none;
  margin: 20px 0px;
}
.dataTables_wrapper .dataTables_info {
    margin: 15px 10px;
}
.text-danger {
    color: #dc3545;
}
.legitRipple {
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rounded-round{
  border-radius: 100px;
}
.btn-labeled>a {
  position: absolute;
  top: -1px;
  background-color: rgba(0,0,0,.15);
  display: block;
  line-height: 1;
  padding: 9px 10px;
  color: #fff;
}
.btn-labeled-right{
    padding-right: 40px;
}
.btn-labeled-right>a {
    right: 0px;
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}
.btn-labeled.rounded-round>a {
    border-radius: 100px;
}
.btn-labeled>a:hover{
  color: #fff;
}
.add-field-listp .addfield-col{
  position: relative;
  display: inline-block;
    margin-bottom: 20px;
}
.add-drop-down{
    position: absolute;
    top: 100%;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #ddd;
    left: 0;
    right: 0;
    min-width: 600px;
    margin-top: 8px;
}
.erp-src-app{
  max-width: 500px;
  margin: auto;
}
.close-btn {
    padding: 5px 0px;
    text-align: right;
    background-color: #2574a9;
    margin-bottom: 10px;
    color: #fff;
}
.close-btn button.close-addfl {
    background-color: transparent;
    border-color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-right: 5px;
}
.dataTables_wrapper table tr td img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.row-col>.col-xs-12 {
    text-align: right;
}
.addfield-col ul.dropdown-menu {
    padding: 0px;
    margin-top: 10px;
}
.addfield-col ul.dropdown-menu li {
    padding: 10px 10px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}
.sec-syn{
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}
.syc-title {
    margin: 0px;
    padding: 20px 0px;
    font-size: 17px;
    color: #333;
}
.switch-box {
  padding: 15px 0px;
  color: #777;
}
.switch-done {
    padding: 15px 0px;
}
.switch-done input {
    width: 100px;
}
.slider .fa-check {
    color: #fff;
    margin-left: 4px;
}
.rightselect>.dropdown-menu>ul>li a {
    color: #333;
    padding: 4px 10px;
    display: block;
    border-bottom: 1px solid #eaeaea;
}
.rightselect>.dropdown-menu>ul>li a:last-child{
  border-bottom: none;
}
.rightselect a::selection {
    background-color: transparent;
}
.close-tabs {
    border-bottom: none;
}


/*----------Dashboard----------*/

.lear-more a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 16px;
}
.card-body-box {
    margin-bottom: 30px;
}
.dash-vapor {
    display: flex;
    align-items: center;
    padding: 1em;
    text-align: left;
    text-decoration: none;
    color: #090910;
    background: #fff;
    box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);
    transition: all .3s;
}
.dash-vapor:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    box-shadow: 0 10px 20px 0 rgba(9,9,16,.15);
}
.icon-box-dash {
    margin-right: 15px;
}
.icon-fa {
    font-size: 40px;
    display: inline-block;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 80px;
    color: #fff;
}
.text-dash-box {
    flex: 1;
}
.text-dash-box .title-head {
    margin-top: 0;
    font-weight: 400;
}
.text-disc {
    color: rgba(9,9,16,.4);
    margin-bottom: 0px;
    font-size: 13px;
}
.width-100{
  width: 100%;
}
.blue-100{
  color: #2196F3;
}
.indigo-100{
  color: #3F51B5;
}
.purple-100{
  color:  #673AB7;
}
.pink-100{
  color: #E91E63;
}
.red-100{
  color: #F44336;
}
.orange-100{
  color: #FF7043;
}
.yellow-100{
  color: #FF9800;
}
.green-100{
  color: #4CAF50;
}
.teal-100{
  color: #009688;
}
.cyan-100{
  color: #00BCD4;
}


.blue-bg{
  background: #25c4f2;;
}
.indigo-bg{
  background-color: #3F51B5;
}
.purple-bg{
  background-color:  #673AB7;
}
.pink-bg{
  background-color: #E91E63;
}
.red-bg{
  background-color: #F44336;
}
.orange-bg{
  background-color: #FF7043;
}
.yellow-bg{
  background-color: #FF9800;
}
.green-bg{
  background-color: #1eb786;
}
.green-light-bg{
  background: #4ab2b0;
}
.teal-bg{
  background-color: #009688;
}
.cyan-bg{
  background-color: #00BCD4;
}
.btn-light {
    color: #333;
    background-color: #f5f5f5;
    border-color: transparent;
}
.btn-light{
}
/*.menu-h.open>a {
    background-color: #16669c !important;
}*/





















/*------------Header size small icon--------------*/
.toggled .left-side-navbar>li>a{
  text-align: center;
}
.toggled .left-side-navbar li{
  position: relative;
}
.toggled .dropdown-container{
    position: absolute;
    top: 0px;
    left: 100%;
    min-width: 200px;
}
.toggled .left-side-navbar>li>button{
  text-align: center;
  padding: 6px 5px; 
}
.toggled .txthead {
  display: block;
  margin-top: 5px;
}
.toggled .left-side-navbar li .fa{
  margin-right: 0;
}
.toggled .left-side-navbar>li>button>.fa, .toggled .left-side-navbar>li>a>.fa {
    display: block;
}
.toggled .left-side-navbar>li>button::after{
  width: 100%;
  transform: rotate(0deg);
}
.toggled .navbar-collapse>li>.dropdown-btn{
}
/*position: absolute;
    right: 5px;*/

.jumbotron {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}


thead>tr {
    background: #f5f7fb;
}
thead>tr:first-child {
    background: #fff;
    border-top: 1px solid #ddd;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
  background-color: transparent;
}





.progress-point {
    margin-top: 40px;
}
.flex-column-dash {
    display: flex;
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-top-h{
  margin-top: 0px;
  color: #00000080; 
}
.title-head-dash{
  font-size: 34px;
    font-weight: normal;
    margin-top: 5px;
}
.active-person span {
    display: block;
    padding-bottom: 5px;
}
.active-person span .fa-circle {
    font-size: 10px;
    vertical-align: middle;
    margin-right: 8px;
}
.pie-chart {
    position: relative;
    font-weight: 900;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.chart {
  position: relative;
  margin: auto;
  font-weight: 900;
}
@media screen and (max-width: 540px) {
  .chart__figure {
    flex-direction: column;
    height: auto;
  }
}
.chart__caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  letter-spacing: 0.4px;
  font-size: 36px;
  line-height: 56px;
  height: 100%;
  width: calc(80px + 180px);
  font-family: "Barlow Condensed", sans-serif;
  color: #01713c;
}
@media screen and (max-width: 540px) {
  .chart__caption {
    margin: 15px auto auto;
    text-align: center;
    min-width: 180px;
  }
}
.chart__value {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    animation: fadein 1400ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 540px) {
  .chart__value {
    left: 0;
    right: 0;
    width: 100%;
  }
}
.chart__value p {
    font-size: 30px;
    color: #337ab7;
    margin: 0px;
    margin-top: 8px;
}

.chartjs-render-monitor{
  width: 100% !important;
}
.card-height{
  min-height: 177px;
}
/*------- Check box-----------*/
.checkbox-t {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
}
.checkbox-t input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px #00000017;
  border-radius: 3px;
}
.checkbox-t input:checked ~ .checkmark {
  background-color: #4099de;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-t input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-t .checkmark:after {
  left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



















